[Unit]
Description=Changeup server
PartOf=graphical-session.target

[Service]
Type=dbus
Restart=always
BusName=moe.gyara.changeup
Environment="RUST_LOG=info"
ExecStart=/usr/bin/changeup
